.navbar-brand {
    padding: 0;
    width: 200px;
    position: relative;
    padding-left: 50px ;
}

.navbar-brand span{
    position: absolute;
    left: 110px ;
    top: 50%;
    margin-top: -10px ;
}
.login a:hover{
    color: #ff0a05;
}
.navbar-brand img{
    height: 50px;
    width: 50px;

}



.navbar-right li:first-child{
    height: 50px;
    line-height: 50px ;
    color: #ffffff;
    margin-left: 10px ;
}