header{
  background-color: #000000;
  height: 40px;
  color: #ffffff;

}
.lb_logo {
  margin-left: 60px;
  height: 40px;
  width: 45px;
  vertical-align: middle;
  line-height: 40px;
}
.logo_a {
  float: right;
  text-decoration: none;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
}

.article-lists{
    
}
.article-lists .article{

}
.article-lists .article .title{
   cursor: pointer;
}
.article-lists .article a{
   cursor: pointer;
}
.article-lists .article .tags{
   margin-bottom: 10px;
}
.article-lists .article .content img{
  float:left;
  height:100px;
  margin-right: 10px;
}
.article .tags .label:not(:first-child){
  margin-left: 5px;
}